@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #e02c6d;
  /* color for cart elements */
  --cart-title: #18191f;
  --cart-price: #000000;
  --cart-description: #787885;
  /* font size for cart elements */
  --cart-title-font-size: 2.8rem;
  --cart-price-font-size: 2.4rem;
  --cart-des-font-size: 1.4rem;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fff;
}

/* Header Section Style Starts Here */
header {
  padding: 5vh 5vw 0 5vw;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-logo h1 {
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 700;
}
span {
  color: var(--secondary-color);
}
.nav-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.nav-item a {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  margin-right: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: 0.15s ease-in-out;
}
.nav-item a:hover {
  color: var(--secondary-color);
}
.nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in-out;
}
.nav-item a:hover::after {
  width: 100%;
}
.nav-icon i {
  color: var(--primary-color);
  margin-right: 1.6rem;
  font-weight: 600;
}
.hamburger-menu {
  display: none;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  display: none;
  align-items: center;
}
.open-menu {
  top: 6.8vh;
  right: 5vw;
}
.close-menu {
  top: 6.8vh;
  right: 6vw;
}
#check {
  display: none;
}

@media (max-width: 580px) {
  .nav-item {
    flex-direction: column;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #e02c6d;
    transition: all 0.2s ease-in-out;
  }
  .nav-item a {
    margin-top: 40px;
    padding: 10px;
  }
  .hamburger-menu {
    display: block;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .nav-item {
    right: 0;
  }
}

@media (min-width: 580.1px) and (max-width: 752px) {
  header {
    padding: 3vh 3vw 0 3vw;
  }
  .nav-item{
    gap: 0;
  }
  .nav-item a {
    margin-right: 0.5rem;
    font-weight: 400;
  }
  .text-logo h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}
