@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #e02c6d;
  /* color for cart elements */
  --cart-title: #18191f;
  --cart-price: #000000;
  --cart-description: #787885;
  /* font size for cart elements */
  --cart-title-font-size: 2.8rem;
  --cart-price-font-size: 2.4rem;
  --cart-des-font-size: 1.4rem;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fff;
}
button {
  cursor: pointer;
}

/* Header Section Style */
header {
  padding: 5vh 5vw 0 5vw;
}

/* nav bar style Starts Here  */
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-logo h1 {
  color: var(--primary-color);
  font-size: 2.4rem;
  font-weight: 700;
}
span {
  color: var(--secondary-color);
}
.menu-container {
  display: flex;
  gap: 1.6rem;
}
.nav-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.nav-item a {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  margin-right: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: 0.15s ease-in-out;
}
.nav-item a:hover {
  color: var(--secondary-color);
}
.nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color);
  transition: 0.15s ease-in-out;
}
.nav-item a:hover::after {
  width: 100%;
}
.nav-icon i {
  color: var(--primary-color);
  margin-right: 1.6rem;
  font-weight: 600;
}
.hamburger-menu {
  display: none;
}
.open-menu,
.close-menu {
  position: absolute;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  display: none;
  align-items: center;
}
.open-menu {
  top: 8.2vh;
  right: 5vw;
}
.close-menu {
  top: 8.2vh;
  right: 6vw;
}
#check {
  display: none;
}
/* nav bar style ends Here  */

/* banner style starts here */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.title {
  color: var(--primary-color);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 7rem;
}
.des {
  color: var(--primary-color);
  font-weight: 600;
}
.book-now-btn {
  font-weight: 700;
  color: white;
  border: 0;
  padding: 1rem 2.4rem;
  border-radius: 4rem;
  background: var(--secondary-color);
  margin-top: 1rem;
}
.book-now-btn i {
  margin-left: 0.5rem;
}
.banner-right {
  background-image: url("./images/Circle\ design.svg");
  margin-right: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-camera-img {
  width: 100%;
}
/* banner style ends here */

/* e-com logo section style starts here */
.logo-container hr {
  opacity: 0.3;
  width: 60%;
  color: var(--primary-color);
  margin-bottom: 5rem;
}
.ecom-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
/* e-com logo section style ends here */

/* main product section style starts here */

section h2 {
  text-align: center;
}
.product-container {
  margin: 0 10vw 0 10vh;
  display: grid;
  justify-content: center;
  column-gap: 5vw;
  row-gap: 3vh;
  grid-template-columns: repeat(3, 18vw);
  margin-bottom: 5rem;
}
.product {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 1.5rem;
  text-align: left;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.product img {
  width: 100%;
}
.product-name {
  color: var(--cart-title);
  font-size: 2.8rem;
  font-weight: 500;
  text-align: left;
  line-height: 0;
}
.product-price {
  color: var(--cart-price);
  font-size: var(--cart-price-font-size);
  font-weight: 400;
  line-height: 0;
}
.ratings {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
}
.ratings p {
  height: 1.1rem;
  width: 1.1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.ratings i {
  color: #fb8200;
  height: 1.1rem;
  width: 1.1rem;
  margin-right: 0.5rem;
}
.btn-see-more {
  margin-right: 8vw;
  text-align: center;
  margin-bottom: 5vh;
}
.see-more-btn i {
  margin-left: 1rem;
}

/* Feature product style start here */
.feature-container {
  margin: 0 10vw 0 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}
.feature-right {
  text-align: left;
}
.feature-title {
  color: #0a0826;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 6rem;
  text-align: left;
}
.feature-des {
  max-width: 30vw;
  color: #6c6c6c;
  font-weight: 700;
  line-height: 2.8rem;
}
#feature-btn {
  border-radius: 0;
  margin-bottom: 5vh;
}
/* feature style ends here */

/* footer style starts here*/
footer{
  background-color: #0A0826;
  width: 100%;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
}
.footer-title{
  color: #fff;
  line-height: 2rem;
}
.footer-des{
  color: #fff;
}
.footer-social-icon{
  margin-top: 1rem;
}
.footer-social-icon i{
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.4rem;
  background-color: white;
  opacity: 0.5;
}

/* Responsive style starts here */
@media (max-width: 580px) {
  .nav-item {
    flex-direction: column;
    width: 70%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #e02c6d;
    transition: all 0.2s ease-in-out;
  }
  .nav-item a {
    margin-top: 40px;
    padding: 10px;
  }
  .hamburger-menu {
    display: block;
  }
  .open-menu,
  .close-menu {
    display: block;
  }
  #check:checked ~ .nav-item {
    right: 0;
  }
  /* nav bar style ends Here  */

  /* banner style starts here */
  .banner {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
  .banner-right {
    margin-right: 0;
  }
  .banner-left {
    text-align: center;
    margin-top: 3rem;
  }
  .banner-left h1 br {
    display: none;
  }
  .banner-left p br {
    display: none;
  }
  .title {
    font-size: 4.2rem;
  }
  /* banner style ends here */

  /* e-com logo section style starts here */
  .ecom-logo {
    flex-wrap: wrap;
    gap: 3rem;
  }
  /* e-com logo section style ends here */

  /* main product responsive style starts here */
  .product-container {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 3rem;
  }
  /* main product responsive style ends here */

  /* Feature product style start here */
  .feature-container {
    flex-direction: column;
    margin: 0 5vw 0 5vw;
  }
  .feature-right {
    text-align: center;
  }
  .feature-title {
    text-align: center;
    font-size: 2.5rem;
  }
  .feature-des {
    max-width: 100%;
  }
  /* Feature product style ends here */
}

@media (min-width: 580.1px) and (max-width: 752px) {
  header {
    padding: 3vh 3vw 0 3vw;
  }
  .nav-item {
    gap: 0;
  }
  .nav-item a {
    margin-right: 0.5rem;
    font-weight: 400;
  }
  .text-logo h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  /* nav bar style ends Here  */
  /* banner style starts here */
  .banner {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }
  .banner-right {
    margin-right: 0;
  }
  .banner-left {
    text-align: center;
    margin-top: 3rem;
  }
  .banner-left h1 br {
    display: none;
  }
  .banner-left p br {
    display: none;
  }
  .title {
    font-size: 4.2rem;
  }

  /* Banner styles ends here */

  /* e-com logo section style starts here */
  .ecom-logo {
    flex-wrap: wrap;
    gap: 3rem;
  }
  /* e-com logo section style ends here */

  /* main product responsive style starts here */
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
    column-gap: 10vw;
  }
  /* main product responsive style ends here */

  /* Feature product style start here */
  .feature-container {
    flex-direction: column;
    margin: 0 5vw 0 5vw;
  }
  .feature-right {
    text-align: center;
  }
  .feature-title {
    text-align: center;
    font-size: 3rem;
  }
  .feature-des {
    max-width: 100%;
  }
  /* Feature product style ends here */
}
@media (min-width: 752.1px) and (max-width: 1200px) {
  .banner-right {
    margin-right: 5vw;
  }
  /* e-com logo section style starts here */
  .ecom-logo {
    flex-wrap: wrap;
    gap: 3rem;
  }
  /* e-com logo section style ends here */

  /* main product responsive style starts here */
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 3rem;
  }
  .product {
    width: 100%;
    height: auto;
  }
  /* main product responsive style ends here */

  /* Feature product style start here */
  .feature-container {
    flex-direction: column;
    margin: 0 5vw 0 5vw;
  }
  .feature-right {
    text-align: center;
  }
  .feature-title {
    text-align: center;
  }
  .feature-des {
    max-width: 100%;
  }
  /* Feature product style ends here */
}
